hydra:
  run:
    dir: ../presets/logs/segmentation/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: ../presets/logs/segmentation/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: bands:${dataset.inputs.bands_select}

  verbose: false

env:
  seed: 16
  runtime: "cuda:0"

defaults:
  - catalyst_keys: default_keys
  - dataset: gamaya_vine
  - semantic: gamaya
  - model: unet-resnet18

experiment:
  dataset:
    amplification:
      train:
        target_size: 2000
        multiplier:
      test:
        target_size: 200
        multiplier:

